@import "tailwindcss";

:root {
  --primaryColor: #00813d;
  --secondaryColor: #d12525;
  --mainColor: #ffb936;
  --textColor: #5c5c5b;
  --whiteColor: #ffffff;
  --blackColor: #212121;
  --backgroundColor: #f4f1ea;
  --woocommerce: #720eec;
  --wc-green: #7ad03a;
  --wc-red: #a00;
  --wc-orange: #ffba00;
  --wc-blue: #2ea2cc;
  --wc-primary: #720eec;
  --wc-primary-text: #fcfbfe;
  --wc-secondary: #e9e6ed;
  --wc-secondary-text: #515151;
  --wc-highlight: #958e09;
  --wc-highligh-text: white;
  --wc-content-bg: #fff;
  --wc-subtext: #767676;
  --wc-form-border-color: #200707cc;
  --wc-form-border-radius: 4px;
  --wc-form-border-width: 1px;
}
.shadwoCss {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.bg-breadcamp {
  background-image: url("https://t-theme.com/foodking/wp-content/uploads/2024/07/breadcrumb-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}




.swiper-slide .slide-content {
  @apply scale-75 opacity-60 bg-red-300 transition-all duration-300;
}
.swiper-slide-active .slide-content {
  @apply scale-95 bg-white shadow-xl;
}
.shadwoCss2{
    box-shadow:  0 -2px 4px rgba(0, 0, 0, 0.4), 0 -4px 10px rgba(0, 0, 0, 0.2);



}
:root {
  --font-header: "Quicksand", "Nunito", sans-serif;
  --font-body: "Rubik", "Open Sans", "Roboto", sans-serif;

  --primary-bg: #ffffff;
  --primary-text: #1c1c1c;

  --primary-bg-dark: #1c1c1c;
  --primary-text-dark: #ffffff;
}


* {
  font-family: var(--font-body) !important;
}

:root {
  --font-header: "Quicksand", "Nunito", sans-serif;
  --font-body: "Rubik", "Open Sans", "Roboto", sans-serif;

  --primary-bg: #ffffff;
  --primary-text: #1c1c1c;

  --primary-bg-dark: #1c1c1c;
  --primary-text-dark: #ffffff;
}

* {
  font-family: var(--font-body) !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

