@import "tailwindcss";

:root {
    --primaryColor: #00813D;
    --secondaryColor: #D12525;
    --mainColor: #FFB936;
    --textColor: #5C5C5B;
    --whiteColor: #FFFFFF;
    --blackColor: #212121;
    --backgroundColor: #F4F1EA;
    --woocommerce: #720eec;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #720eec;
    --wc-primary-text: #fcfbfe;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #958e09;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
    --wc-form-border-color: #200707cc;
    --wc-form-border-radius: 4px;
    --wc-form-border-width: 1px;
}